* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-image: linear-gradient(45deg, #f8f4c4, #47667b);
    color: #f8f4c4;
}

header{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 15vh;
}

.header-logo{
    margin-left: 30px;
}


.header-menu{
    margin-left: auto;
    margin-right: 30px;
}

.header-menu li {
    display: inline-block;
    padding: 10px;
  }
  
.header-menu li a {
    color: #f8f4c4;
    text-decoration: none;
}
  

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-content {
    height: 95vh;
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-content table {
    display: inline-block;
    height: 70vh;
    margin-top: 20px;
    margin-left: 23px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    overflow: auto;
  }

.main-content table th,
.main-content table td {
  border: 1px solid white;
  padding: 5px;
  font-size: 14px;
}
